<!-- OBSOLETE? -->

<div id="profile">

  <ul class="plastic">
    <li>Name <small><%= @user.name.titlecase %></small></li>
    <li>Email <small><%= @user.email.downcase %></small></li>
  </ul>

</div>
