<ul class="rounded">
  <h1>Cart</h1>
  <% @cart.line_items.each do |line_item| %>
  <li class="plastic">
    <% product = line_item.product %>
    <%= product.title %>
    <small>
      <%= "$#{product.price}" %>
    </small>
  </li>
  <% end %>
</ul>
