<h1>Store</h1>


<div class="cart">
<%= render @cart %>
</div>

<div class="products">
  <%= render :template => '/store/product_listing' %>
</div>

<div class="qr">
<%= render :template => '/qr/qr' %>
</div>
